.animal-show{
    position: relative;
    border: 1px solid rgba(211, 211, 211, 0.89);
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 4px 4px 4px lightgray;
}
.animal{
    height: 200px;
}
.heart{
    position: absolute;
    bottom: 10%;
    right: 10%;
}